@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

header {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  gap: 100px;
  height: 110px;
  align-items: center;
}

.header__gem {
  width: 50%;
  object-fit: contain;
  max-width: 400px;
}

.header__gem img {
  width: 100%;
}

.header__buffet {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.header__buffet img {
  height: 110px;
}

main {
  margin-top: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  max-width: 100%;
  height: 80%;
  position: relative;
}


.enlarge {
  cursor: pointer;
  transform-origin: center center;
  transform-box: fill-box;
  z-index: 1;
  fill: #1E1E1E;
  opacity: 1;
  transition: 0.3s;
}

.path-highlighted {
  opacity: 0.2;
}

.info-container {
  position: absolute;
  width: 100%;
  height: 90%;
  display: none;
  z-index: 2;
  opacity: 0.2;
  background-color: red;
}

text {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 7px;
  line-height: 120%;
  transition: 0.3s;
}

/* 
.enlarge:hover+text {
  font-size: 10px;
  text-align: left;
  transform-origin: left;
  z-index: 999;
  transition: 0.3s;

} */

.region {
  fill: #1E1E1E;
}

.UA-32::after {
  content: url('../images/Asset\ 1.svg');
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: max(144rem, 110vw);
  transform: translateX(-50%) rotate(15deg);
  z-index: -12;
}

.map {
  width: 100%;
}

.none-active {
  pointer-events: none;
}

footer {
  gap: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
  position: absolute;
}

#ii {
  background-color: red;
}

.info-block {
  /* max-width: 1400px; */
  width: 100%;
  RIGHT: 0px;
  padding: 21px 102px;
  max-width: 1400px;
  pointer-events: none;
  /* justify-content: flex-end; */
  flex-direction: column;
  align-items: flex-end;
  position: absolute;

  /* width: 100%; */
  /* top: 32%; */
  /* left: 42%; */
  /* transform: translate(-42%, -50%); */
  display: none;
  /* min-width: 0;*/
}

.hover {
  transform: scale(1.3);
  z-index: 997;
  transition: 0.3s;
  position: absolute;
  filter: drop-shadow(0px 0px 10px #2d71bc);
}


.img-window {
  max-width: 236px;
}

.info-block__container {
  display: flex;
  gap: 32px;
}

.slider-container {
  min-width: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider {
  pointer-events: none;
  position: absolute;
  width: 100%;
  display: flex;
  opacity: 0;
  justify-content: center;
  padding: 0px 40px;
  bottom: 14px;
  min-width: 0;
}

.slick-track {
  width: 100%;
  display: flex;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
}

.imgSlider {
  width: 200px;
}

.slick-list {
  overflow: hidden;
}

.info-block-tricky {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h5 {
  margin: 0;
}

.points {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  color: white;
}

.points p {
  font-size: 15px;
}

p {
  margin: 0;
}

.info-block__regions {
  background: #434343;
  width: 100%;
  ;
  border-radius: 12px;
  padding: 32px;
  height: 320px;
  pointer-events: all;

}

table {
  color: white;
  border-collapse: collapse;
  width: 100%;
  overflow-y: hidden;
}

.ten-percent {
  width: 10%;
}

th,
td {
  padding: 0px 9px;
  text-align: left;
}

.info-block__regions-container {
  overflow: auto;
  pointer-events: all;
  height: 100%;
  height: 90%;
  display: flex;
  gap: 13px;
  overflow-x: hidden;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 6px;
}

.imgHouse {
  width: 50px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  padding-right: 10px;
}

h3 {
  margin: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.info-block__regions p {
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  color: white;
  font-weight: 400;
  line-height: normal;
}

.info-block__cities-name {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  color: #2F6FBD;
  font-weight: 400;
  line-height: normal;
}

h4 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;

}

.content__did {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.info-block__cities {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  border-radius: 12px;
  max-width: 230px;
  background: #434343;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #2F6FBD;
}

.total-info {
  text-align: center;
  color: #ffffff;
}

@media(max-width:1375px) {
  .info-block {
    padding: 0px 100px;
  }

  .info-block-tricky {
    width: 45%;
  }
}

@media(max-width:1170px) {
  header {
    padding: 20px 20px;
    gap: 10px;
  }

  .points {
    font-size: 14px;
  }

  .points p {
    font-size: 16px;
  }

  .total-info {
    font-size: 17px;
  }

  .info-block__cities-name {
    font-size: 30px;
  }

  .info-block {
    padding: 20px 28px;
  }
}

@media(max-width:1128px) {
  /* .info-block-tricky {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  } */
  /* 
  .info-block__regions {
    height: 200px;
  } */

  .info-block__cities-name {
    font-size: 20px;
  }

  .info-block {
    height: 80%;
  }

  h4 {
    font-size: 12px;
  }
}

@media(max-width: 870px) {
  .header__gem {
    width: 50%;
  }

  .header__buffet {
    width: 50%;
  }

}

@media(max-width: 750px) {
  header {
    height: 60px;
  }

  .info-block__container {
    width: 90%;
    justify-content: center;
  }

  .header__gem img {
    height: 60px;
    width: auto;
  }

  .slider {
    bottom: 0px;
  }

  .header__buffet img {
    height: 60px;
    width: auto;
  }

  .map {
    height: 665px;
  }

  .img-window {
    align-self: flex-end;
  }

  .info-block {
    justify-content: flex-end;
    width: auto;
    height: 70%;
    left: 0px;
    align-items: center
  }

  .info-block__regions {
    height: auto;
  }

  .content__did {
    flex-direction: column;
  }

  .info-block__regions-container {
    display: flex;
    flex-direction: row;
  }

  .info-block-tricky {
    width: 100%;
    align-items: center
  }

  main {
    align-items: center;
    padding: 0;

  }

  body {
    height: auto;
  }

  .info-block {
    height: 90%;
  }

  .slider {
    position: static;
    margin-top: -10px;
  }

}

@media(max-width: 600px) {
  .img-window {
    max-width: 180px;
  }
}

@media(max-width: 460px) {
  .header {
    padding: 8px 20px;
  }

  .header__gem img {
    height: 40px;
  }

  .header__buffet img {
    height: 40px;
    width: auto;
  }
}

.active-footer {
  opacity: 1;
  display: flex !important;
}

.image__slider {
  width: 196px;
  border-radius: 5px;
  height: 145px;
  object-fit: cover;
}

@media screen and (max-height: 870px) {
  .slider {
    position: static;
    margin-top: -50px;
  }
}

@media screen and (max-height: 750px) {
  .info-block {
    height: 90%;
  }

  .slider {
    position: static;
    margin-top: -10px;
  }
}

@media screen and (min-height: 910px) {}